<div class='search-bar'>    
  <div class='nav-search'>
    <!--
    <form action='/search' id='searchform' method='get' role='search'>
     <input class='search_input' id='s' name='q' onblur='if(this.value==&apos;&apos;)this.value=this.defaultValue;' onfocus='if(this.value==this.defaultValue)this.value=&apos;&apos;' type='text' value='Search and hit'/>
    </form>
    -->
    <div class="gcse">
      <gcse:search enableAutoComplete="true"></gcse:search>
    </div>
    <form id='searchform' class="gcse-placeholder" onsubmit="return false">
      <input autocomplete="off" type="text" size="10" 
             class="gsc-input-placeholder search_input" 
             name="search" 
             title="Search" 
             placeholder="Search"/>
    </form>
    <div class='srch_btn' id="gsce_submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
</div>