<div class='search-bar'>    
  <div class='nav-search'>
    <!--
    <form action='/search' id='searchform' method='get' role='search'>
     <input class='search_input' id='s' name='q' onblur='if(this.value==&apos;&apos;)this.value=this.defaultValue;' onfocus='if(this.value==this.defaultValue)this.value=&apos;&apos;' type='text' value='Search and hit'/>
    </form>
    -->
    <!--
    <div class="gcse">
      <gcse:search enableAutoComplete="true"></gcse:search>
    </div>
    -->
    <div class="gcse placeholder">
      <div id="___gcse_0">
        <div class="gsc-control-cse gsc-control-cse-zh-TW">
          <div class="gsc-control-wrapper-cse" dir="ltr">
            <div class="gsc-search-box gsc-search-box-tools">
              <table cellspacing="0" cellpadding="0" class="gsc-search-box">
                <tbody>
                  <tr>
                    <td class="gsc-input">
                      <div class="gsc-input-box" id="gsc-iw-id1">
                        <table cellspacing="0" cellpadding="0" id="gs_id50" class="gstl_50 gsc-input">
                          <tbody>
                            <tr>
                              <td id="gs_tti50" class="gsib_a">
                                <input autocomplete="off" type="text" size="10" class="gsc-input" id="gsc-i-id1" 
                                       placeholder="Search" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='srch_btn' id="gsce_submit"></div>
  </div>
</div>