<!-- ===============
  -- 設定post變數的地方
  -- =============== -->
<span class='post-variables'
  expr:data-post-link='data:post.link'
  expr:data-post-title='data:post.title'
  expr:data-post-url='data:post.url'
  expr:data-post-author='data:post.author'
  expr:data-post-timestamp='data:post.timestamp'
  expr:data-post-numComments='data:post.numComments'
  expr:data-post-id='data:post.id'
  expr:data-post-commentJso='data:post.commentJso'
  expr:data-post-commentMsgs='data:post.commentMsgs'
  expr:data-post-commentConfig='data:post.commentConfig' />
<b:loop values='data:post.labels' var='label'>
  <span class='label-variables' 
        expr:data-label-name="data:label.name" />
</b:loop>