#main .entry-content article.article .meta1 {
  .item-control a {
    margin-right: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
  }
  
  .comment-count {
    white-space: nowrap;
  }
}