#backlinks-container h4 {
  float: left;
  line-height: 1rem;
  margin-right: 25px;
  cursor: default;
}

#backlinks-container h4:after {
  bottom: 10px;
  left: inherit;
  right: -20px;
}

#backlinks-container a[href] {
  line-height: 2.4rem;
}

#backlinks-container p {
  margin-bottom: 0;
}