
/******************************/
/* 20170309 上傳圖片 */
.comment-form-tool a button {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    color: #222;
    -webkit-transition: all;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-weight: bold;
    margin: 0 8px 6px 0;
    font-family: arial,sans-serif;
    font-size: 11px;
    height: 27px;
    padding-bottom: 0;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,.1);
    vertical-align: top;
    -webkit-appearance: none;
    box-sizing: border-box;
    user-select: none;
    margin-left: 0.5em;
}

.comment-form-tool {
    font-size: 14px;
    user-select: none;
}