#comment-editor {
  width: 100%;
  height: 210px;
  border-width: 0;
}

#comment-editor.hide {
  display: none;
}

#comments-block img.favicon {
  height: 16px;
  width: 16px;
  margin-bottom:-2px;
}


/* ************************ */

#disqus_thread {
  overflow: hidden;
  background: #FFFFFF;
  border-bottom: 2px solid #DDDDDD;
  padding: 25px;
}
