 <!-- MediaFem Tag (head) -->
<!-- /25379366/22705973189 -->
<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/25379366/22705973189', [970, 90], 'blog.pulipuli.info_22486_970x90_649320029332b').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
</script>
<!-- End MediaFem Tag (head) -->