<b:if cond='data:post.editUrl'>
  <span expr:class='&quot;item-control &quot; + data:post.adminClass'>
    <a expr:href='data:post.editUrl' expr:title='data:top.editPostMsg' target='_blank'>
      <!-- <img alt='' class='icon-action' height='18' src='//img2.blogblog.com/img/icon18_edit_allbkg.gif' width='18'/> -->
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Edit Post
    </a>

    <a>
      <i class="fa fa-code" aria-hidden="true"></i>
      Copy HTML
    </a>

    <a>
      <i class="fa fa-download" aria-hidden="true"></i>
      Download Article
    </a>
  </span>
</b:if>