<div class="comments" id="disqus_thread"></div>

<div class='comments' id='comments'>
  <a name='comments-anchor' id='comments-anchor'  />
  <h4>總共<data:post.commentLabelFull/>, <a href="#comment-form-iframe" class="comment-form-iframe">(我要發問)</a></h4>

  <div class='comments-content'>
    <b:if cond='data:post.embedCommentForm'>
      <b:include data='post' name='threaded_comment_js'/>
    </b:if>
    <div id='comment-holder'>
      <data:post.commentHtml/>
    </div>
  </div>
  <p class='comment-footer'>
  <b:if cond='data:post.allowNewComments'>
    <b:include data='post' name='threaded-comment-form'/>
    <b:else/>
    <data:post.noNewCommentsText/>
  </b:if>
</p>

<b:if cond='data:showCmtPopup'>
  <div id='comment-popup'>
    <iframe allowtransparency='true' frameborder='0' id='comment-actions' name='comment-actions' scrolling='no'>
    </iframe>
  </div>
</b:if>

<div id='backlinks-container'>
  <div expr:id='data:widget.instanceId + &quot;_backlinks-container&quot;'>
    <b:if cond='data:post.showBacklinks'>
      <b:include data='post' name='backlinks'/>
    </b:if>
  </div>
</div>
</div>