#masthead .search-bar {
  -moz-transition: .3s linear;
  -webkit-transition: .3s ease-out;
  transition: .3s linear;
  float: right;
  right: 0;
  cursor: pointer;
  background-image: none;
  background-repeat: no-repeat;
  padding: 0px 0px 23px 20px;
  background-size: 100px 100px;
  top: 0;
  z-index: 99999;
  margin-top: -5px;
  visibility: hidden;
}

#masthead .search-bar:hover {
  -moz-transition: .01s linear;
  -webkit-transition: .01s ease-out;
  transition: .01s linear;
  /*opacity: 1; */
  background-image:none;
}

#masthead .nav-search {
  width: auto;
  height: 30px;
  position: relative;
  left: 0;
  /* float: left; */
  line-height: 10px;
  color: #fff !important;
}

#masthead .nav-search label {
  display: none;
}

#masthead .nav-search input {
  float: left;
  /*width: 0;*/
  background: none;
  height: 30px;
  line-height: 20px;
  margin: 22px 0 0;
  padding: 0 10px 0 0;
  font-size: 15px;
  /*color: #fff !important;*/
  outline: 0;
  border-radius: 0;
  border: 0;
  /*opacity: 1;*/
  /*opacity: 1;*/
  /*-webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  -webkit-appearance: none;*/

  width: 160px;
  margin-left: 33px;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  opacity: 1;
  margin-top: -4px !important;
}

/*
.search-bar:hover .nav-search input {
    width: 160px;
    margin-left: 33px;
    background: none;
    border-bottom: 1px solid #f1f1f1;
    opacity: 1;
}
*/
/*
.nav-search input::-webkit-input-placeholder {
    color: #eee;
}

.nav-search input::-moz-placeholder {
    color: #eee;
}

.nav-search input:-moz-placeholder {
    color: #eee;
}

.nav-search input:-ms-input-placeholder {
    color: #eee;
}

.nav-search input:focus {
    color: #fff;
}
*/

#masthead .nav-search .srch_btn {
  height: 42px;
  width: 23px;
  margin-top: 0;
  background: url("//3.bp.blogspot.com/-h-x1pzE69JE/U5sUcTyNfAI/AAAAAAAAAdg/PYKJ6twHM1M/s1600/search-icon.png") 2px center no-repeat;
  text-indent: 9999px;
  position: relative;
}

#masthead .search-bar.visible {
  visibility: visible
}

/******************************/
/* 縮小寬度之下的導航列 */

.nav-search input.search_input,
.search-bar:hover .nav-search input {
    background-color: white;
    color: black !important;
    padding-left: 0.5em;
    border-radius: 3px;
    margin-top:27px;
}

.gsc-results-wrapper-overlay {
    line-height: 1.5em;
}

.gsc-results-wrapper-overlay .gcsc-branding {
    display: none;
}

.gsc-results-wrapper-overlay .gsc-cursor-box {
    text-align: center;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page {
    padding: 7px 10px;
    border: 1px solid gray !important;
    border-radius: 5px;
    cursor: pointer !important;
    color: gray !important;
    text-decoration: none !important;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
    color: black !important;
}

.gsc-results-wrapper-overlay .gsc-wrapper {
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.gsc-results-wrapper-overlay .gsc-wrapper > .gsc-adBlock {
    display: none;
}

#masthead.fixed-nav.affix .search-bar {
    padding-bottom: 0;
}

#masthead.fixed-nav .descriptionwrapper {
    display: none;
}

.gsc-results-wrapper-overlay .gsc-wrapper img.gs-image {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    border: 1px solid gray;
}

.gsc-results-wrapper-overlay .gsc-wrapper a.gs-image {
    width: 176px;
}

.gsc-results-wrapper-overlay .gs-image-box.gs-web-image-box {
    width: 176px !important;
    height: auto !important;
    max-height: 176px;
    /*margin-right: calc(1em + 7px);*/
    top: -3em;
    margin-bottom: -3em;
    position: relative;
}

.gsc-results-wrapper-overlay div.gs-title,
.gsc-results-wrapper-overlay div.gsc-url-top {
    margin-left: calc(176px + 1em);
}

.gsc-results-wrapper-overlay div.gs-snippet {
    margin-left: 19px;
}

.gsc-results-wrapper-overlay td.gsc-table-cell-thumbnail.gsc-thumbnail {
    width: 176px;
    display: block !important;
}

/***********************/
.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.gcse {
    float: left;
    /*margin-left: 30px;*/
    margin-top: 7px;
}

.nav-search {
    margin-top: 19px;
    float: right;
}

.nav-search .srch_btn {
    float: left;
}

.fixed-nav .nav-search .srch_btn {
    margin-top: -15px;
}

.cse .gsc-control-wrapper-cse, #masthead .gsc-control-wrapper-cse {
    width: 200px !important;
}

.gsc-search-button {
    display: none !important;
}

.gsc-input-box {
    border-radius: 0.5em;
}

.gsc-input-box input.gsc-input {
    opacity: 1 !important;
    /*border-width: 0;*/
    background-image: none !important;
    box-shadow: inset 0px 0px 0px 0px red;
    text-indent: 0 !important;
}

@media (max-width: 979px) {
  #masthead .search-bar {
    /*
    margin-top: 16px;
    padding-left: 0;
    padding-right: 0;
    */
    padding:0;
  }
  #masthead .search-bar .gcse {
    margin-top: 13px;
  }
  
  #masthead .nav-search .srch_btn {
    margin-top: -5px;
  }
  
  #masthead .nav-search input {
    line-height: 34px;
  }
}

@media (min-width: 979px) {
  #masthead .search-bar .gcse {
    margin-top: 7px;
  }
  
  #masthead.fixed-nav .search-bar .srch_btn {
    margin-top: -15px;
  }
  
  #masthead .nav-search input {
    line-height: 26px;
  }
  
}


@media (max-width: 680px) {
    .search-bar {
        /*display: none;*/
        position: absolute;
        top: -1000px;
    }
    
    
    /*********************/
    .navbar .nav li.search {
        display: list-item !important;
    }

    .navbar .nav li.search form {
        margin: 0;
    }

    .navbar .nav li.search input {
        width: calc(100% - 100px);
        /*margin: 0 18px;*/
    }

    .navbar .nav li.search .srch_btn {
        height: 42px;
        width: 23px;
        margin-top: 0;
        background: url(//3.bp.blogspot.com/-h-x1pzE69JE/U5sUcTyNfAI/AAAAAAAAAdg/PYKJ6twHM1M/s1600/search-icon.png) 2px center no-repeat;
        text-indent: 9999px;
        position: relative;
        float: left;
        margin-left: 18px;
        margin-right: 10px;
        margin-top: -5px;
        display: inline !important;
        border-width: 0;
    }
    /*
    .search-bar {
        clear: both;
        padding-top: 0;
        padding-bottom: 5px;
    }
    .search-bar form {
        margin: 0;
    }
    .nav-search input {
        margin-top: 5px;
    }
    .navbar .btn-navbar {
        margin-bottom: 0;
    }

    /*.search-bar:hover .nav-search input {
        width:100%;
    }
    */
}