.template-code {
  max-height: inherit !important;
  height: calc(100vh - 36em) !important;
}

.ui.radio.checkbox,
.ui.checkbox .box, .ui.checkbox label {
  cursor: pointer !important;
}

.ui.radio.checkbox.button {
  margin: 5px;
  padding: 5px;
}

.ui.checkbox label {
  display: block;
  /*line-height: 50px;*/
  padding: 15px;
}

iframe {
  width: 100%;
  height: calc(100vh - 32em) !important;
}