<!--
<div class="ad before-footer">

</div>
-->

<div class="widget-AdSense-container">
<div class='widget AdSense' data-version='1' id='AdSense2'>
<div class='widget-content'>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1866747503935842&host=ca-host-pub-1556223355139109" crossorigin="anonymous"></script>
<!-- pulipuli_sidebar-right-1_AdSense1_1x1_as -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1866747503935842"
     data-ad-host="ca-host-pub-1556223355139109"
     data-ad-slot="6370682206"
     data-ad-format="horizontal"
     data-full-width-responsive="true"></ins>
     <script>
          setupAdsense()
     </script>
<div class='clear'></div>
</div>
</div>
</div>