.entry-content article.heading-h2-h3 {
  h2 {
    font-size: 24pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 20pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 18pt;
    font-style: italic;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.entry-content article.heading-h4-h5 {
  h4 {
    font-size: 24pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h5 {
    font-size: 20pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h6 {
    font-size: 18pt;
    font-style: italic;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}