.entry-content article.heading-h2-h3 {
  h2 {
    font-size: 24pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1em;
  }

  h3 {
    font-size: 20pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 18pt;
    font-style: italic;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.entry-content article.heading-h4-h5 {
  h4 {
    font-size: 24pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h5 {
    font-size: 20pt;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h6 {
    font-size: 18pt;
    font-style: italic;
    color:#BD8A39;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.entry-content article .heading-permanent-link {
  cursor: pointer;
  position: absolute;
  margin-left: 0rem;
  margin-top: -2.5rem;
  //display: none;
  opacity: 0;
  transition: opacity 0.2s 1s ease;  /* Mouse leave: immediate */
  
  &:active {
    color: #F69087;
  }
}

.entry-content article {
  h2:hover .heading-permanent-link,
  h3:hover .heading-permanent-link,
  h4:hover .heading-permanent-link,
  h5:hover .heading-permanent-link,
  h6:hover .heading-permanent-link {
    opacity: 1;
    transition: opacity 0.2s 0s ease;
  }
}

// ------------------------

#main .entry-content article {
  .cata-title {
    width: 75%;
  }
  
  a.heading-button[href^="#"] {
    position: absolute;
    margin-left: 2.5rem;
    margin-top: -2.5rem;
    
    opacity: 0;
    transition: opacity 0.2s 1s ease;  /* Mouse leave: immediate */
  }
  
  h2:hover a.heading-button[href^="#"],
  h3:hover a.heading-button[href^="#"],
  h4:hover a.heading-button[href^="#"],
  h5:hover a.heading-button[href^="#"],
  h6:hover a.heading-button[href^="#"] {
  opacity: 1;
  transition: opacity 0.2s 0s ease;
  }
}

// -----------------------

@media (max-width:460px) {
  #main .entry-content article {
    .heading-permanent-link {
      //margin-left: 0;
      margin-top: -2rem;
      font-size: 1.5rem;
    }
    
    a.heading-button[href^="#"] {
      font-size: 1.5rem;
      margin-left: 2rem;
      margin-top: -2rem;
    }
  }
  
  .entry-content article.heading-h2-h3 {
    h2,h3,h4 {
      line-height: 120%;
    }
  }
  
  .entry-content article.heading-h4-h5 {
    h4,h5,h6 {
      line-height: 120%;
    }
  }
}

// ----------------------------------------------------------------
// @Pulipuli Chen 20240810-0511 

.entry-content .id-anchor {
  position: relative;
  top: -70px;
}