<!--
側邊欄設定說明：

基本高度340px

有四種形式
- 普通形態，一長串列下來
- 雙欄形態 注意編號
- 三欄形態 注意編號
  -->

<div class="widget HTML about-me two-col two-col-1 three-col three-col-1">
  <a href="/p/about_38.html" target="_blank" class="icon">
    <i class="fa fa-info-circle" aria-hidden="true" />
  </a>
  <a href="/p/about_38.html" target="_blank">
    <h2 class="title">
      <span>About Me</span>
    </h2>
  </a>
  <div class="widget-content">
    <h3>布丁布丁吃布丁</h3>
    <div class="description">
      <a class="avatar-image-container" 
         href="//lh3.googleusercontent.com/-tkBPlsBsFJg/V0M0b-gPKNI/AAAAAAACw9Y/Y-2BGg4z3H4/Image.jpg?imgmax=800" />
      這個布丁是在無聊的世界中找尋樂趣的一種不能吃的食物，喜愛動漫畫、遊戲、程式，以及跟世間脫節的生活步調。
    </div>
    
    <div class="about-link">
        <span class="social-button-wrapper">
          <a href="/p/about_38.html" class="social-button donate" title="關於">
            <i class="fa fa-user"></i>
          </a>
        </span>
      
        <span class="social-button-wrapper">
          <a href="http://fb.blog.pulipuli.info/" class="social-button facebook" title="Facebook" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </span>
        <!--
        <span class="social-button-wrapper">
          <a href="http://plurk.pulipuli.info" class="social-button plurk" title="Plurk" target="_blank">
            <strong>P</strong>
          </a>
        </span>
        -->
        <span class="social-button-wrapper">
          <a href="http://rss.blog.pulipuli.info" class="social-button rss" title="RSS" target="_blank">
            <i class="fa fa-rss"></i>
          </a>
        </span>

        <span class="social-button-wrapper">
          <a href="mailto:blog@pulipuli.info" class="social-button email" title="Email" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </span>
        
        <span class="social-button-wrapper">
          <a href="/p/donation.html" class="social-button donate" title="贊助">
            <i class="fa fa-credit-card"></i>
          </a>
        </span>
      
        <!--
      <span class="link-buttons buttons">
        <a href="/p/donation.html" class="donate">贊助</a>
        <a href="/p/sitemap.html#subscribe" class="subscribe">訂閱</a>
        <a href="/p/about_38.html" class="about">關於</a>
      </span> 
        -->
        <!-- <div class="link-buttons"> -->
    </div> <!-- <div class="about-link"> -->

    <div class="clear" />
  </div>
</div>

<!-- =================================================== -->

<!--
<div class="widget-content">
  <h2 class="title">
    <span>布丁布丁測試中</span>
  </h2>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1866747503935842"
       data-ad-slot="4255451308"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
-->

