<div class="widget HTML about-me two-col two-col-1 three-col">
  <a href="/p/about_38.html" target="_blank" class="icon">
    <i class="fa fa-info-circle" aria-hidden="true" />
  </a>
  <a href="/p/about_38.html" target="_blank">
    <h2 class="title">
      <span>About Me</span>
    </h2>
  </a>
  <div class="widget-content">
    <h3>布丁布丁吃布丁</h3>
    <div class="description">
      <a class="avatar-image-container" 
         href="//lh3.googleusercontent.com/-tkBPlsBsFJg/V0M0b-gPKNI/AAAAAAACw9Y/Y-2BGg4z3H4/Image.jpg?imgmax=800" />
      這個布丁是在無聊的世界中找尋樂趣的一種不能吃的食物，喜愛動漫畫、遊戲、程式，以及跟世間脫節的生活步調。
    </div>
    
    <div class="about-link">
        <span class="social-button-wrapper">
          <a href="/p/about_38.html" class="social-button donate" title="關於">
            <i class="fa fa-user"></i>
          </a>
        </span>
      
        <span class="social-button-wrapper">
          <a href="http://fb.blog.pulipuli.info/" class="social-button facebook" title="Facebook" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </span>
        <!--
        <span class="social-button-wrapper">
          <a href="http://plurk.pulipuli.info" class="social-button plurk" title="Plurk" target="_blank">
            <strong>P</strong>
          </a>
        </span>
        -->
        <span class="social-button-wrapper">
          <a href="http://rss.blog.pulipuli.info" class="social-button rss" title="RSS" target="_blank">
            <i class="fa fa-rss"></i>
          </a>
        </span>

        <span class="social-button-wrapper">
          <a href="mailto:blog@pulipuli.info" class="social-button email" title="Email" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </span>
        
        <span class="social-button-wrapper">
          <a href="/p/donation.html" class="social-button donate" title="贊助">
            <i class="fa fa-credit-card"></i>
          </a>
        </span>
      
        <!--
      <span class="link-buttons buttons">
        <a href="/p/donation.html" class="donate">贊助</a>
        <a href="/p/sitemap.html#subscribe" class="subscribe">訂閱</a>
        <a href="/p/about_38.html" class="about">關於</a>
      </span> 
        -->
        <!-- <div class="link-buttons"> -->
    </div> <!-- <div class="about-link"> -->

    <div class="clear" />
  </div>
</div>
<!-- =================================================== -->

<!--
<div class="widget-content">
  <h2 class="title">
    <span>布丁布丁測試中</span>
  </h2>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1866747503935842"
       data-ad-slot="4255451308"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
-->

<!-- 隨機文章 -->
<div class="widget HTML random two-col two-col-2 three-col">
  <a class="icon button">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </a>
  <h2 class="title">
    <span>Random Posts</span>
  </h2>
  <div class="widget-content">
    <ul id='random_posts'></ul>
  </div> <!-- <div class="widget-content"> -->
  <div class="clear" />
</div>

<!-- =================================================== -->

<div class="widget HTML guestbook two-col two-col-3 three-col">
  <!-- 留言板 -->
  <a href="/feeds/113544406852218769/comments/default" target="guestbookFeed" class="icon">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
  </a>
  <!--
  <a class="icon reload">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </a>
  -->
  <a href="/2005/12/blogger_113544406852218769.html#comment-editor" target="guestbook" class="icon">
    <i class="fa fa-edit" aria-hidden="true"></i>
  </a>
  <a href="/2005/12/blogger_113544406852218769.html#comment-editor" target="guestbook" >
    <h2 class="title">
      <span>Guestbook</span>
    </h2>
  </a>
  <div class="widget-content">
    <!--
    <link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/puliGuestBook.css' rel='stylesheet' type='text/css'/>
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/puliGuestBook.js" type="text/javascript"></script>
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/init.js" type="text/javascript"></script>
    -->
    <div class="puliGuestBook"></div>
  </div>
  <div class="clear" />
</div>

<!-- =================================================== -->

<div class="widget HTML new recent-posts">
  <a href="/feeds/posts/default" target="_blank" class="icon">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
  </a>
  <h2 class="title">
    <span>Recent Posts</span>
  </h2>
  <div class="widget-content">
    <div id="puliHandlePostNode"></div>
  </div>
  <div class="clear" />
</div>

<!-- =================================================== -->

<div class="widget HTML comments two-col two-col-4">
  <a href="/feeds/comments/default" target="_blank" class="icon">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
  </a>
  <h2 class="title">
    <span>Comments</span>
  </h2>
  <div class="widget-content">
    <div id="puliCommentsNode"></div>
    <!--
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliHandleRecentFunction/puliHandleRecentFunction.js" type="text/javascript"></script>
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliHandleRecentFunction/init.js" type="text/javascript"></script>
    -->
  </div>
  <div class="clear" />
</div>
