
<!-- Facebook -->
<div class="widget HTML fb-fan-page">
  
  <a href="http://fetchrss.com/rss/5ff67856db94f676db0c0fc262239753566b5039276f8e22.xml" target="facebook-panpage-rss" class="icon">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
  </a>
  
  <a class="icon button" 
     href="https://www.facebook.com/blog.pulipuli.info/"
     target="_blank">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </a>
  
  <h2 class="title">
    <span>Facebook Fanpage</span>
  </h2>
  <div class="widget-content"
       style="height: 350px;">
    <!--
      -- 教學：https://www.webdesigns.com.tw/css_facebook_page-plugin.asp
      -- 取得程式碼：https://developers.facebook.com/docs/plugins/page-plugin
      -- 粉絲頁
      -->
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0&appId=246926726232478&autoLogAppEvents=1" nonce="sYTLDR3I"></script>
    
    <div class="fb-page" 
      data-href="https://www.facebook.com/blog.pulipuli.info/" 
      data-tabs="timeline" 
      data-width="" 
      data-lazy="true" 
      data-height="350" 
      data-small-header="true" 
      data-adapt-container-width="true" 
      data-hide-cover="false" 
      data-show-facepile="false">
      <blockquote 
        cite="https://www.facebook.com/blog.pulipuli.info/" 
        class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/blog.pulipuli.info/">Now Loading...</a>
      </blockquote>
    </div>
  </div> <!-- <div class="widget-content"> -->
  <div class="clear"></div>
</div>
