

<!-- =================================================== -->

<div class="widget HTML guestbook two-col two-col-3 three-col three-col-3" id="sidebarGuestbook">
  <!-- 留言板 -->
  <a href="/feeds/113544406852218769/comments/default" target="guestbookFeed" class="icon">
    <i class="fa fa-rss-square" aria-hidden="true"></i>
  </a>
  <!--
  <a class="icon reload">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </a>
  -->
  <a href="/p/2024-guestbook-2024.html#comment-editor" target="guestbook" class="icon">
    <i class="fa fa-edit" aria-hidden="true"></i>
  </a>
  <a href="/p/2024-guestbook-2024.html#comment-editor" target="guestbook" >
    <h2 class="title">
      <span>Guestbook</span>
    </h2>
  </a>
  <div class="widget-content">
    <!--
    <link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/puliGuestBook.css' rel='stylesheet' type='text/css'/>
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/puliGuestBook.js" type="text/javascript"></script>
    <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/modules/puliGuestBook/init.js" type="text/javascript"></script>
    -->
    <div class="puliGuestBook"></div>
  </div>
  <div class="clear" />
</div>
