

/******************/

#masthead {
  padding-left: 25px;

  #header h1 {
    line-height:30px;
    margin-top: 10px;
  }
} 

// ----------------------

#masthead.fixed-nav {
  opacity: 1 !important;
  background-color: rgba(34, 34, 34, 0.9) !important;
  top: 0;
  position: fixed !important;

  .affix #header h1 {
    line-height: 22px;
  }
}

// -----------------------------

@media (min-width: 979px) and (max-width: 1200px) {
  .navbar {
    width: 960px !important;
  }
}

// -----------------------

@media (max-width: 979px) {

  #masthead {
    position: fixed;
    padding-left: 50px;

    #header #header-inner{
      /*margin-left: 10px !important;*/
      margin-top: 15px;
    }
  }

  #masthead.fixed-nav.affix {
    .btn-navbar {
      margin-top: 5px;
      margin-bottom: 0;
    }
    #header h1 {
      line-height: 55px;
      margin-top: 0 !important;
    }
    #header-inner {
      margin-top: 0px;
    }
    .navbar .nav .dropdown-menu li {
      a {
        padding-left:22px !important;
      }
      a:hover, 
        a:active, 
        a:focus {
        padding-left:19px !important;
      }
    }

  }

}


/* ------------------------------ */

@media (max-width: 480px) {
  #masthead {
    height: auto;
    padding-left: 10px;
    
    #header { 
      
    /*margin-top: 15px;*/
    margin-right:0 ;
    max-width: calc(100% - 101px);
    /*margin-left: 5px;*/
    overflow-x: hidden;
    white-space: nowrap;
    
      .description {
    display: none;
  }
    }
  } 
  /*
  #masthead #header h1 {
      line-height:50px;
      margin-top: 2px;
  }
  */
}


@media (max-height: 480px) {
  #masthead.fixed-nav {
    position: absolute !important;
  }
}

//--------------------------------------
// 以下還沒整理

#masthead.fixed-nav img {
  margin-top: 0;
  width: auto;
  max-height: 85%;
}


#masthead.fixed-nav form {
  margin-top: -16px;
}
#masthead.fixed-nav h1 {
  font-size: 20px;
  margin-top: 9px;
}

/***
 * 這是整個最上面的navbar設定
 **/

#masthead.fixed-nav {
  position: fixed;
  top: 0;
  width: 100% !important;
  margin: 0px auto;
  z-index: 999;
  height: 56px;
  background-color: rgba(0,0,0,0.9);
  /*opacity: 0.9;*/
  /*
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 3px rgba(0, 0, 0, .1);
  */
  box-shadow: 0px 2px 3px rgba(20%,20%,40%,0.5);
}

#masthead.fixed-nav .navbar {
  height: 56px;
  max-height: 56px;
  overflow-y: hidden;
}

@media (max-width: 480px) {
  // 從480px開始，就沒有區分fixed-nav的差別，全部都要一樣小
  /*
  #masthead .navbar {
    max-height: 56px;
    overflow-y: hidden;
  }
  */
  #masthead {
    
    .navbar {
      overflow-y: initial !important;
    }
  }
  
  #masthead.fixed-nav {
    box-shadow: none;
  }
  
}

@media (max-height: 480px) {
  // 從480px開始，就沒有區分fixed-nav的差別，全部都要一樣小
  /*
  #masthead .navbar {
    max-height: 56px;
    overflow-y: hidden;
  }
  */
  #masthead.fixed-nav {
    background: #222222;
    margin-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: none;
    position: static;
  }
  
  #masthead .container {
    box-shadow: none;
  }
}


/*****************************/
/* 20161116 */
@media (max-width: 979px) {
  #masthead.fixed-nav > .container {
    /*box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);*/
  }
}