.related-posts {
  /*height: 240px;*/
  overflow: hidden;
  z-index: 100;
  background: #fff;

  .title {
    background: none repeat scroll 0% 0% #FFF;
    padding: 5px 20px;
    margin: 0px 0px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
  }

  #owl-demo {
    overflow: visible;
    padding: 0px 20px;
    max-height: 233px;
  }

  img {
    background: url(//1.bp.blogspot.com/-EpAZ7479vZU/U8q4-6oeF5I/AAAAAAAAB2w/mQFhf-xZRko/s1600/background.png) repeat scroll 0% 0% #fff;
    display: table-cell;
    text-align: center;
    color: #EB005D;
    font-size: 19px;
  }
}

.owl-wrapper-outer {
  overflow: hidden;
  max-height: 240px;
}
.related-posts .owl-controls.clickable {
  position: relative;
}
.owl-wrapper {
  position: relative;
}
.owl-item {
  float: left;
  padding: 0px 10px;
  width: 235px !important;
}
.owl-item:first-child {
  padding: 0px 10px 0px 0px;
}
.item-img {
  position: relative;
}
.related-posts .owl-controls.clickable .owl-pagination {
  position: absolute;
  right: 0px;
  top: -208px;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 5px 14px 5px -10px;
  opacity: 0.5;
  border-radius: 20px;
  background: none repeat scroll 0% 0% #DDD;
  cursor: pointer;
}
.owl-theme .owl-controls .owl-page.active, .owl-theme .owl-controls.clickable .owl-page:hover {
  opacity: 1;
  background: none repeat scroll 0% 0% #333;
}
