<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html expr:dir='data:blog.languageDirection' 
      xmlns='http://www.w3.org/1999/xhtml' 
      xmlns:b='http://www.google.com/2005/gml/b' 
      xmlns:data='http://www.google.com/2005/gml/data' 
      xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
  <title>
    <b:if cond='data:blog.url == data:blog.canonicalHomepageUrl'>
      <data:blog.pageTitle/>  
      <b:else/>
      <b:if cond='data:blog.pageName'>
        <data:blog.pageName/> - <data:blog.title/>
        <b:else/>
        <data:blog.pageTitle/>
      </b:if>
    </b:if>
  </title>
<b:include data='blog' name='all-head-content'/>

<b:skin></b:skin>

<!-- jQuery 還是保留讓它使用Google的cdn吧 -->
<!--
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' 
        type='text/javascript'/>
-->
<!--
<script src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' 
        type='text/javascript'/>
-->

<p:localhost-redirect />

<p:include>6_includable/check-localhost.html</p:include>

<!--
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/breeze-theme/breeze.js" type='text/javascript'></script>
-->

<!--
// --------------------------------------------
// 讀取外部檔案
-->

<!--
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'/>
-->
<link href='//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css' rel='stylesheet' type='text/css'/>
<!--
<style type="text/css">
<p:include>0_header/2_style.min.css</p:include>
<p:include>0_header/3_custom_style.min.css</p:include>
</style>
-->
<!--
<link href="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/gloabl/src/style/style.min.css" rel="stylesheet" type="text/css" />
-->

<!--
// 讀取外部檔案
// --------------------------------------------
-->

<!--
// --------------------------------------------
// 標記資訊
-->

<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
<link href='//lh3.googleusercontent.com/-EJjh-ZlKl64/VvtjyofcjNI/AAAAAAACuME/hYJhk_ZuORs/s0/pulipuli192x192.jpg' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
<meta name='theme-color' content='#A1501A' />
<link href='//lh3.googleusercontent.com/-EJjh-ZlKl64/VvtjyofcjNI/AAAAAAACuME/hYJhk_ZuORs/s0/pulipuli192x192.jpg' rel='icon' sizes='192x192'/>
<link href='//lh3.googleusercontent.com/-vjf_alp-zjQ/VvtkKVpqCjI/AAAAAAACuMI/HPJXcEemwok/s0/pulipuli144x144.jpg' rel='apple-touch-icon' sizes='144x144'/>

<p:include>0_header/4_facebook_code.html</p:include>
<meta name="msvalidate.01" content="09F5F270E3016847B9723E71AEE3FC24" />
<meta name="baidu-site-verification" content="0XST85Xh5F" />
<meta name="p:domain_verify" content="102285e6f21741f433c6400b5ec23fa7"/>

<!-- ======================================== -->
<!--
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/global/src/script/script.js" type="text/javascript"></script>
-->
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/vendors.js" type="text/javascript"></script>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/global-header.js" type="text/javascript"></script>

<b:if cond='data:blog.pageType == &quot;item&quot;'>
  <!--
  <link href="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/style/style-item.min.css" rel="stylesheet" type="text/css"/>
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/script/script-item.js" type="text/javascript"></script>
  -->
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/item-header.js" type="text/javascript"></script>
  
  <!-- ======================== -->
  
  <!-- <link rel="stylesheet" type="text/css" href="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item-print/src/style/gutenberg.min.css" media="print"/> -->
  <!--
  <link href="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item-print/src/style/style-print.min.css" rel="stylesheet" type="text/css"  media="print"/>
  -->
  <!-- <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/item-print.js" type="text/javascript"></script> -->
  
  <!-- ======================== -->
  
  <!-- <link href="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item-olw/src/style/style-olw.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/item-olw.js" type="text/javascript"></script> -->
</b:if>
<!-- ======================================== -->

<!-- ===============
  -- 設定blog變數的地方
  -- =============== -->
<meta class='blog-variables'
  expr:data-blog-canonicalUrl='data:blog.canonicalUrl'
  expr:data-blog-url='data:blog.url'
  expr:data-blog-homepageUrl='data:blog.homepageUrl'
  expr:data-blog-canonicalHomepageUrl='data:blog.canonicalHomepageUrl' />

<!-- 封存頁面不要被索引
  -- https://www.wfublog.com/2019/03/blogger-archive-page-noindex.html
  -->
<b:if cond='data:blog.pageType == &quot;archive&quot;'>
  <meta content='NOINDEX' name='ROBOTS'/>
</b:if>

</head>
  
<!-- ===================================================================== -->

<body>
<!--
<script src='//connect.facebook.net/en_US/all.js#xfbml=1'/>
-->
<div class='firstload-background'></div>

<div class='site' id='page'>
<div id='masthead' role='banner'>
<div class='container'>

    
<div class='navbar navbar-inverse'>
  <div class='navbar-inner'>
    <div class='btn-navbar' data-target='.nav-collapse' data-toggle='collapse' type='button'>
      <i class="fa fa-bars" aria-hidden="true"></i>
      <!--
      <img src='//lh3.googleusercontent.com/-joQnbCCa6Jg/VwFqIuKnCCI/AAAAAAACuUo/iZTPC_EVSyE/s0/bmenu_brown.png'/>
      -->
    </div>
    
<header>
<!--
// 在這邊加上回去上一頁的按鈕
-->
<b:if cond='data:blog.url != data:blog.homepageUrl'>
  <div class="back-button">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>

  <b:else />
  <b:if cond='data:blog.searchLabel'>
    <div class="back-button">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <b:else />
    <div class="back-button placeholder"></div>
  </b:if>
</b:if>
    
<b:section class='header' id='header' maxwidgets='1' showaddelement='no'>
     
<b:widget id='Header1' locked='true' title='Breeze Responsive Blogger Template  (Header)' type='Header'>
  
<b:includable id='main'>
  <p:include>6_includable/main.html</p:include>
</b:includable>
     
<b:includable id='description'>
  <div class='descriptionwrapper' expr:url='data:blog.url'>
    <p class='description'><span><data:description/></span></p>
  </div>
</b:includable>
     <b:includable id='title'>
  <b:if cond='data:blog.url == data:blog.homepageUrl'>
    <data:title/>
  <b:else/>
    <a accesskey="H" expr:href='data:blog.homepageUrl'><data:title/></a>
  </b:if>
</b:includable>
   </b:widget>
    
</b:section>
</header>
     
<p:include>1_menu/2_search.html</p:include>
<p:include>1_menu/1_menu.html</p:include>

 </div> 
</div>
</div>
  
  <!-- <div class='clear'/> -->
</div>
<div class='clear'/>

<div class='container' id='content-wrapper'>
<div class='row' id='primary'>

<!-- ============================ -->
  
<b:if cond='data:blog.url == "http://blog.pulipuli.info/p/archives.html" or data:blog.url == "https://blog.pulipuli.info/p/archives.html"'>
<p:include>4_content/archives.html</p:include>
</b:if>
  
<!-- ============================ -->

<b:if cond='data:blog.url == "http://blog.pulipuli.info/p/labels.html" or data:blog.url == "https://blog.pulipuli.info/p/labels.html"'>
<p:include>4_content/labels.html</p:include>
</b:if>

<b:if cond='data:blog.url == "http://blog.pulipuli.info/p/social-media.html" or data:blog.url == "https://blog.pulipuli.info/p/social-media.html"'>
<p:include>4_content/social-media.html</p:include>
</b:if>

<b:if cond='data:blog.url == "http://blog.pulipuli.info/p/sta.html" or data:blog.url == "https://blog.pulipuli.info/p/sta.html"'>
<p:include>4_content/statistics.html</p:include>
</b:if>
  
<!-- ============================ -->
  
<div class='span9 main' id='content' role='main'>
    <a accesskey="C" href="#content-anchor" title="accesskey: main section" id="content-anchor"> ::: </a>
    
<b:section class='main' id='main' showaddelement='no'>
  <b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog'>
    <b:includable id='main' var='top'>
      <b:if cond='data:mobile == &quot;false&quot;'>
      <!-- posts -->
      <b:include data='top' name='status-message'/>
      <b:loop values='data:posts' var='post'>
        <b:include data='post' name='post'/>
        <b:if cond='data:blog.pageType != &quot;index&quot; and data:blog.pageType != &quot;archive&quot;'>
          <b:if cond='data:post.showThreadedComments'>
            <b:include data='post' name='threaded_comments'/>
          <b:else/>
            <b:include data='post' name='comments'/>
          </b:if>
        </b:if>
      </b:loop>

    <!-- navigation -->
    <b:include name='nextprev'/>

    <!-- feed links -->
    <b:include name='feedLinks'/>

    <!-- show stars -->
    <b:if cond='data:top.showStars'>
      <!-- 實際上這一段似乎是不會用到 -->
      
      <script src='//www.google.com/jsapi' type='text/javascript'/>
      <script type='text/javascript'>
        //google.load(&quot;annotations&quot;, &quot;1&quot;, {&quot;locale&quot;: &quot;<data:top.languageCode/>&quot;});
        google.load("annotations", "1", {"locale": "<data:top.languageCode/>"});
        function initialize() {
          google.annotations.setApplicationId('<data:top.blogspotReviews/>');
          google.annotations.createAll();
          google.annotations.fetch();
        }
        google.setOnLoadCallback(initialize);
      </script>
    </b:if>

  <b:else/>
    <b:include name='mobile-main'/>
  </b:if>

  <b:if cond='data:top.showDummy'>
    <data:top.dummyBootstrap/>
  </b:if>

</b:includable>
<b:includable id='backlinkDeleteIcon' var='backlink'>
  <span expr:class='&quot;item-control &quot; + data:backlink.adminClass'>
    <a expr:href='data:backlink.deleteUrl' expr:title='data:top.deleteBacklinkMsg'>
      <img src='//www.blogger.com/img/icon_delete13.gif'/>
    </a>
  </span>
</b:includable>

<b:includable id='backlinks' var='post'>
  <p:include>4_content/backlinks.html</p:include>
</b:includable>

<b:includable id='comment-form' var='post'>
  <div class='comment-form'>
    <a name='comment-form'/>
    <b:if cond='data:mobile'>
      <h4 id='comment-post-message'>
        <a expr:id='data:widget.instanceId + &quot;_comment-editor-toggle-link&quot;' 
           href='javascript:void(0)'>
          <data:postCommentMsg/>
        </a>
      </h4>
      <p><data:blogCommentMessage/></p>
      <data:blogTeamBlogMessage/>
      <a expr:href='data:post.commentFormIframeSrc' id='comment-editor-src'/>
      <a expr:href='data:post.commentFormIframeSrc' id='c' name="c"/>
      <p:include>4_content/comment_form_tool.html</p:include>
      <iframe allowtransparency='true' 
              class='blogger-iframe-colorize blogger-comment-from-post hide' 
              id='comment-editor' name='comment-editor' src='' />
    <b:else/>
      <p><data:blogCommentMessage/></p>
      <data:blogTeamBlogMessage/>
      <a expr:href='data:post.commentFormIframeSrc' id='comment-editor-src'/>
      <a expr:href='data:post.commentFormIframeSrc' id='c' name="c"/>
      <p:include>4_content/comment_form_tool.html</p:include>
      <iframe allowtransparency='true' 
              class='blogger-iframe-colorize blogger-comment-from-post' 
              id='comment-editor' name='comment-editor' src='' />
    </b:if>
    <data:post.friendConnectJs/>
    <data:post.cmtfpIframe/>
    <script type='text/javascript'>
      BLOG_CMT_createIframe(&#39;<data:post.appRpcRelayPath/>&#39;, &#39;<data:post.communityId/>&#39;);
    </script>
  </div>
</b:includable>
    <b:includable id='commentDeleteIcon' var='comment'>
  <span expr:class='&quot;item-control &quot; + data:comment.adminClass'>
    <b:if cond='data:showCmtPopup'>
      <div class='goog-toggle-button'>
        <div class='goog-inline-block comment-action-icon'/>
      </div>
    <b:else/>
      <a class='comment-delete' expr:href='data:comment.deleteUrl' expr:title='data:top.deleteCommentMsg'>
        <img src='//www.blogger.com/img/icon_delete13.gif'/>
      </a>
    </b:if>
  </span>
</b:includable>
    <b:includable id='comment_count_picker' var='post'>
  <b:if cond='data:post.forceIframeComments'>
    <span class='cmt_count_iframe_holder' 
          expr:data-count='data:post.numComments' 
          expr:data-onclick='data:post.addCommentOnclick' 
          expr:data-url='data:post.canonicalUrl'>
    </span>
  <b:else/>
    <b:if cond='data:post.commentSource == 1'>
      <span class='cmt_count_iframe_holder' 
            expr:data-count='data:post.numComments' 
            expr:data-onclick='data:post.addCommentOnclick' 
            expr:data-url='data:post.canonicalUrl'>
      </span>
    <b:else/>
      <a class='comment-link' expr:href='data:post.addCommentUrl' expr:onclick='data:post.addCommentOnclick'>
        <data:post.commentLabelFull/>:
      </a>
    </b:if>
  </b:if>
</b:includable>

<b:includable id='comment_picker' var='post'>
  <b:if cond='data:post.forceIframeComments'>
    <b:include data='post' name='iframe_comments'/>
    <b:if cond='data:post.showThreadedComments'>
      <b:include data='post' name='threaded_comments'/>
    <b:else/>
      <b:include data='post' name='comments'/>
    </b:if>
  <b:else/>
    <b:if cond='data:post.commentSource == 1'>
      <b:include data='post' name='iframe_comments'/>
    <b:else/>
      <b:if cond='data:post.showThreadedComments'>
        <b:include data='post' name='threaded_comments'/>
      <b:else/>
        <b:include data='post' name='comments'/>
      </b:if>
    </b:if>
  </b:if>
</b:includable>

<b:includable id='comments' var='post'>
  <p:include>4_content/comments.html</p:include>
</b:includable>
    <b:includable id='feedLinks'>
  <b:if cond='data:blog.pageType != &quot;item&quot;'> <!-- Blog feed links -->
    <b:if cond='data:feedLinks'>
      <div class='blog-feeds'>
        <b:include data='feedLinks' name='feedLinksBody'/>
      </div>
    </b:if>

    <b:else/> <!--Post feed links -->
    <div class='post-feeds'>
      <b:loop values='data:posts' var='post'>
        <b:if cond='data:post.allowComments'>
          <b:if cond='data:post.feedLinks'>
            <b:include data='post.feedLinks' name='feedLinksBody'/>
          </b:if>
        </b:if>
      </b:loop>
    </div>
  </b:if>
</b:includable>
    <b:includable id='feedLinksBody' var='links'>
  <div class='feed-links'>
  <data:feedLinksMsg/>
  <b:loop values='data:links' var='f'>
     <a class='feed-link' 
        expr:href='data:f.url'
        expr:type='data:f.mimeType' 
        target='_blank'>
       <data:f.name/> (<data:f.feedType/>)
     </a>
  </b:loop>
  </div>
</b:includable>

<b:includable id='iframe_comments' var='post'>

  <b:if cond='data:post.allowIframeComments'>
    <script expr:src='data:post.iframeCommentSrc' type='text/javascript'/>
    <div class='cmt_iframe_holder'/>

    <b:if cond='data:post.embedCommentForm == &quot;false&quot;'>
      <a expr:href='data:post.addCommentUrl' expr:onclick='data:post.addCommentOnclick'><data:postCommentMsg/></a>
    </b:if>
  </b:if>
</b:includable>
    
<b:includable id='mobile-index-post' var='post'>
  <div class='mobile-date-outer date-outer'>
    <div class='mobile-post-outer'>
      <a expr:href='data:post.url'>
        <h3 class='mobile-index-title entry-title'>
          <data:post.title/>
        </h3>

        <div class='mobile-index-arrow'>&amp;rsaquo;</div>

        <div class='mobile-index-contents'>
          <b:if cond='data:post.thumbnailUrl'>
            <div class='mobile-index-thumbnail'>
              <div class='Image'>
                <img expr:src='data:post.thumbnailUrl'/>
              </div>
            </div>
          </b:if>

          <div class='post-body'>
            <b:if cond='data:post.snippet'><data:post.snippet/></b:if>
          </div>
        </div>

        <div style='clear: both;'/>
      </a>

      <div class='mobile-index-comment'>
        <b:if cond='data:blog.pageType != &quot;static_page&quot;'>
          <b:if cond='data:post.allowComments'>
            <b:if cond='data:post.numComments != 0'>
              <a class='comment-link' 
                 expr:href='data:post.addCommentUrl' 
                 expr:onclick='data:post.addCommentOnclick'>
                <b:if cond='data:post.numComments == 1'>
                  1 <data:top.commentLabel/>
                  <b:else/>
                  <data:post.numComments/> <data:top.commentLabelPlural/>
                </b:if>
              </a>
            </b:if>
          </b:if>
        </b:if>
      </div>
    </div>
  </div>
</b:includable>
    
<b:includable id='mobile-main' var='top'>
  <!-- posts -->
  <div class='blog-posts hfeed'>
    <b:include data='top' name='status-message'/>
    <b:if cond='data:blog.pageType == &quot;index&quot; || data:blog.pageType == &quot;archive&quot;'>
      <b:loop values='data:posts' var='post'>
        <b:include data='post' name='mobile-index-post'/>
      </b:loop>
      <b:else/>
      <b:loop values='data:posts' var='post'>
        <b:include data='post' name='mobile-post'/>
      </b:loop>
    </b:if>
  </div>
  <b:include name='mobile-nextprev'/>
</b:includable>
    
<b:includable id='mobile-nextprev'>
  <div class='blog-pager' id='blog-pager'>
    <b:if cond='data:newerPageUrl'>
      <div class='mobile-link-button' id='blog-pager-newer-link'>
      <a class='blog-pager-newer-link' 
         expr:href='data:newerPageUrl' 
         expr:id='data:widget.instanceId + &quot;_blog-pager-newer-link&quot;' 
         expr:title='data:newerPageTitle'>
        &amp;lsaquo;
      </a>
      </div>
    </b:if>

    <b:if cond='data:olderPageUrl'>
      <div class='mobile-link-button' id='blog-pager-older-link'>
      <a class='blog-pager-older-link' 
         expr:href='data:olderPageUrl' 
         expr:id='data:widget.instanceId + &quot;_blog-pager-older-link&quot;' 
         expr:title='data:olderPageTitle'>
        &amp;rsaquo;
      </a>
      </div>
    </b:if>

    <div class='mobile-link-button' id='blog-pager-home-link'>
    <a class='home-link' expr:href='data:blog.homepageUrl'><data:homeMsg/></a>
    </div>

    <div class='mobile-desktop-link'>
      <a class='home-link' expr:href='data:desktopLinkUrl'><data:desktopLinkMsg/></a>
    </div>

  </div>
  <div class='clear'/>
</b:includable>

<b:includable id='mobile-post' var='post'>
  <div class='date-outer'>
    <div class='date-posts'>
      <div class='post-outer'>

        <div class='post'>
          <b:if cond='data:post.title'>
            <h3 class='post-title'>
              <b:if cond='data:post.link'>
                <a expr:href='data:post.link'><data:post.title/></a>
              <b:else/>
                <b:if cond='data:post.url'>
                  <b:if cond='data:blog.url != data:post.url'>
                    <a expr:href='data:post.url'><data:post.title/></a>
                  <b:else/>
                    <data:post.title/>
                  </b:if>
                <b:else/>
                  <data:post.title/>
                </b:if>
              </b:if>
            </h3>
          </b:if>

          <div class='post-header'/>

          <div class='post-body'>
            <data:post.body/>
            <div class='clear'/> 
          </div>

          <div class='post-footer'>
            <div class='post-footer-line post-footer-line-1'>
              <span class='post-author vcard'>
                <b:if cond='data:top.showAuthor'>
                  <b:if cond='data:post.authorProfileUrl'>
                    <span class='fn'>
                      <a expr:href='data:post.authorProfileUrl' rel='author' title='author profile'>
                        <data:post.author/>
                      </a>
                    </span>
                  <b:else/>
                    <span class='fn'><data:post.author/></span>
                  </b:if>
                </b:if>
              </span>

              <span class='post-timestamp'>
                <b:if cond='data:top.showTimestamp'>
                  <data:top.timestampLabel/>
                  <b:if cond='data:post.url'>
                    <a class='timestamp-link' expr:href='data:post.url' rel='bookmark' title='permanent link'>
                      <abbr class='published' expr:title='data:post.timestampISO8601'>
                        <data:post.timestamp/>
                      </abbr>
                    </a>
                  </b:if>
                </b:if>
              </span>

              <span class='post-comment-link'>
                <b:if cond='data:blog.pageType != &quot;item&quot;'>
                  <b:if cond='data:blog.pageType != &quot;static_page&quot;'>
                    <b:if cond='data:post.allowComments'>
                      <a class='comment-link' 
                         expr:href='data:post.addCommentUrl' 
                         expr:onclick='data:post.addCommentOnclick'>
                        <b:if cond='data:post.numComments == 1'>
                          1 <data:top.commentLabel/>
                          <b:else/>
                          <data:post.numComments/> <data:top.commentLabelPlural/>
                        </b:if>
                      </a>
                    </b:if>
                  </b:if>
                </b:if>
              </span>
            </div>

            <div class='post-footer-line post-footer-line-2'>
              <b:if cond='data:top.showMobileShare'>
                <div class='mobile-link-button goog-inline-block' id='mobile-share-button'>
                  <a href='javascript:void(0);'><data:shareMsg/></a>
                </div>
              </b:if>
              <b:if cond='data:top.showDummy'>
                <div class='goog-inline-block dummy-container'><data:post.dummyTag/></div>
              </b:if>
            </div>

          </div>
        </div>

        <b:if cond='data:blog.pageType != &quot;index&quot; and data:blog.pageType != &quot;archive&quot;'>
          <b:if cond='data:post.showThreadedComments'>
            <!-- <div class="comments" id="disqus_thread"></div> -->
            <b:include data='post' name='threaded_comments'/>
          <b:else/>
            <!-- <div class="comments" id="disqus_thread"></div> -->
            <b:include data='post' name='comments'/>
          </b:if>
        </b:if>
          
      </div>
    </div>
  </div>
</b:includable>
    
<b:includable id='nextprev'>
  <b:if cond='data:blog.url != "http://blog.pulipuli.info/2005/12/blogger_113544406852218769.html" and data:blog.url != "https://blog.pulipuli.info/2005/12/blogger_113544406852218769.html"'>
  <div class='blog-pager' id='blog-pager'>
    <nav>
        <ul class="pager">
            <b:if cond='data:newerPageUrl'>
                <li class="previous link">
                    <span id='blog-pager-newer-link'>
                        <a class='blog-pager-newer-link' 
                           expr:href='data:newerPageUrl' 
                           expr:id='data:widget.instanceId + &quot;_blog-pager-newer-link&quot;' 
                           expr:title='data:newerPageTitle'>
                            <i class="fa fa-chevron-left"></i> <data:newerPageTitle/>
                        </a>
                    </span>
                </li>
            <b:else/>
                <li class="previous hidden link">
                    <span id='blog-pager-newer-link'>
                        <a class='blog-pager-newer-link' href='#'>
                            <i class="fa fa-chevron-left"></i> <data:newerPageTitle/>
                        </a>
                    </span>
                </li>
            </b:if>
            
            <li>
                <a class='home-link' expr:href='data:blog.homepageUrl'><data:homeMsg/></a>
            </li>
            
            <b:if cond='data:olderPageUrl'>
                <li class="next link">
                    <span id='blog-pager-older-link'>
                        <a class='blog-pager-older-link' 
                           expr:href='data:olderPageUrl' 
                           expr:id='data:widget.instanceId + &quot;_blog-pager-older-link&quot;' 
                           expr:title='data:olderPageTitle'>
                            <i class="fa fa-chevron-right"></i> <data:olderPageTitle/>
                        </a>
                    </span>
                </li>
            <b:else/>
                <li class="next hidden link">
                    <span id='blog-pager-older-link'>
                        <a class='blog-pager-older-link' 
                           expr:href='data:olderPageUrl' 
                           expr:id='data:widget.instanceId + &quot;_blog-pager-older-link&quot;' 
                           expr:title='data:olderPageTitle'>
                            <i class="fa fa-chevron-right"></i> <data:olderPageTitle/>
                        </a>
                    </span>
                </li>
            </b:if>
            
            
            <b:if cond='data:mobileLinkUrl'>
                <li class="next">
                    <div class='blog-mobile-link'>
                      <a expr:href='data:mobileLinkUrl'><data:mobileLinkMsg/></a>
                    </div>
                </li>
            </b:if>
        </ul>
    </nav>

  </div>
  <div class='clear'/>
  </b:if>
</b:includable>
    
<b:includable id='post' var='post'>
  <p:include>0_header/5_env_variables.html</p:include>
  <div class='post'>
  <b:if cond='data:blog.pageType == &quot;index&quot; || data:blog.pageType == &quot;archive&quot;'>
    <b:if cond='data:post.title'>
      <h3>
        <b:if cond='data:post.link'>
          <a expr:href='data:post.link' 
             expr:title='data:post.title'>
            <data:post.title/>
          </a>
        <b:else/>
          <b:if cond='data:post.url'>
            <a expr:href='data:post.url' 
               expr:title='data:post.title'>
              <data:post.title/>
            </a>
          <b:else/>
            <data:post.title/>
          </b:if>
        </b:if>
      </h3>
    </b:if>
  </b:if>
    
  <b:if cond='data:blog.pageType == &quot;index&quot; || data:blog.pageType == &quot;archive&quot;'>
    <p:include>4_content/entry-index.html</p:include>
  <b:else/>
    <!-- 這邊是item的article頁面 -->
    <p:include>4_content/entry-item.html</p:include>
  </b:if>

<div class='clear'/>

<b:if cond='data:blog.url != "http://blog.pulipuli.info/2005/12/blogger_113544406852218769.html" and data:blog.url != "https://blog.pulipuli.info/2005/12/blogger_113544406852218769.html"'>
  <div class='entry-meta clearfix'>
    <div class='up_arrow'/>

      <aside>

<b:if cond='data:blog.pageType == &quot;index&quot; || data:blog.pageType == &quot;archive&quot;'>
  <div class='pull-left buttons'>
    <a class='read-more' expr:href='data:post.url + &quot;#&quot;'>Read More</a>
    <b:if cond='data:blog.pageType == &quot;item&quot;'>
      <b:include data='post' name='postQuickEdit'/>
    </b:if>
  </div>
</b:if>
 

<b:if cond='data:blog.pageType == &quot;item&quot;'>
  <p:include>4_content/author.html</p:include>
</b:if>

<p:include>4_content/share.html</p:include>

<div class='clear'/>

        </aside>
    </div>
</b:if> 
<!-- <b:if cond='data:blog.url != "http://blog.pulipuli.info/2005/12/blogger_113544406852218769.html"'> -->

<!-- /* Related Posts */ -->
<p:include>4_content/related_posts.html</p:include>

</div>

</b:includable>

<!-- 編輯區 -->

<b:includable id='postQuickEdit' var='post'>
  <p:include>6_includable/postQuickEdit.html</p:include>
</b:includable>

<b:includable id='shareButtons' var='post'>
  <p:include>6_includable/shareButtons.html</p:include>
</b:includable>

<b:includable id='status-message'>
  <p:include>6_includable/status-message.html</p:include>
</b:includable>

<b:includable id='threaded-comment-form' var='post'>
  <div class='comment-form'>
    <a name='comment-form'/>
    <b:if cond='data:mobile'>
      <p><data:blogCommentMessage/></p>
      <data:blogTeamBlogMessage/>
      <a expr:href='data:post.commentFormIframeSrc' id='comment-editor-src'/>
      <a expr:href='data:post.commentFormIframeSrc' id='c' name="c"/>
      <p:include>4_content/comment_form_tool.html</p:include>
      <iframe allowtransparency='true' class='blogger-iframe-colorize blogger-comment-from-post' frameborder='0' height='210' id='comment-editor' name='comment-editor' src='' style='display: none' width='100%'/>
    <b:else/>
      <p><data:blogCommentMessage/></p>
      <data:blogTeamBlogMessage/>
      <a expr:href='data:post.commentFormIframeSrc' id='comment-editor-src'/>
      <a expr:href='data:post.commentFormIframeSrc' id='c' name="c"/>
      <p:include>4_content/comment_form_tool.html</p:include>
      <iframe allowtransparency='true' 
        class='blogger-iframe-colorize blogger-comment-from-post' 
        frameborder='0' height='210' 
        id='comment-editor' name='comment-editor' src='' width='100%'/>
    </b:if>
    <data:post.friendConnectJs/>
    <data:post.cmtfpIframe/>
    <script type='text/javascript'>
      BLOG_CMT_createIframe(&#39;<data:post.appRpcRelayPath/>&#39;, &#39;<data:post.communityId/>&#39;);
    </script>
  </div>
</b:includable>

<b:includable id='threaded_comment_js' var='post'>
  <p:include>6_includable/threaded_comment_js.html</p:include>
</b:includable>

<b:includable id='threaded_comments' var='post'>
  <p:include>6_includable/threaded_comments.html</p:include>
</b:includable>

  </b:widget>
</b:section>
</div>

<div class='span3' id='side-bar'>
  <a accesskey="R" href="#side-bar-anchor" title="accesskey: sidebar section" id="side-bar-anchor"> ::: </a>
  <div class="sidebar section" id="sidebar">
    <p:include>2_sidebar/1_sidebar.html</p:include>
  </div>
</div>

<div class='clear'/>
</div> 
</div> 

<div class='site-footer' id='colophon' role='contentinfo'>

<div class='container'>
  <a accesskey="B" href="#footer-anchor" title="accesskey: footer section" id="footer-anchor"> ::: </a>
  <div class='row-fluid' id='footer-body'>
    <div class="cleanwidget  nopadding span4 bl_html section" id="column1">
      <p:include>3_footer/1_col.html</p:include>
    </div>
    <div class="cleanwidget  nopadding span8 bl_html section" id="column2">
      <p:include>3_footer/2_col.html</p:include>
    </div>
    <div class='clear'/>
  </div>
</div>

<div class='footer' id='footer'>
  <footer>
    <div class='container clearfix'>
      <p:include>3_footer/4_goto.html</p:include>
      <p:include>3_footer/4_copyright.html</p:include>
      <p:include>3_footer/4_management.html</p:include>
    </div>
  </footer>        
</div>

</div> <!-- <div class='site-footer' id='colophon' role='contentinfo'> -->

</div>

<div class="gcse">
  <gcse:search enableAutoComplete="true"></gcse:search>
</div>

<!-- JAVASCRIPT -->
<!-- <script src="//load.sumome.com/" data-sumo-site-id="91b6a5a67cc23845f0765da427a8ac1c0b918c4e9226f12ea32abf1e8110df0c" async="async"></script> -->
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<!-- 
  -- @author Pulipuli Chen 20190301
  -- AddThis工具必須嵌入在頁面上，不能移除，很遺憾
  -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=pulipuli" async="async" type="text/javascript"></script> 

<!--
<script type="text/javascript" src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/script/google-analytics.js"></script>
-->

<!--
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/related-posts/related-posts.js" type="text/javascript"></script>

<link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/css/lightbox.min.css' rel='stylesheet' type='text/css'/>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/js/lightbox.min.js" type="text/javascript" ></script>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/init.js" type="text/javascript" ></script>

<link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/default.min.css' rel='stylesheet' type='text/css'/>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/highlight.min.js" type="text/javascript"></script>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/init.js" type="text/javascript"></script>
-->
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/global-footer.js" async="async" type="text/javascript"></script>

<b:if cond='data:blog.pageType == &quot;item&quot;'>
  <!--
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/related-posts/related-posts.js" type="text/javascript"></script>

  <link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/css/lightbox.min.css' rel='stylesheet' type='text/css'/>
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/js/lightbox.min.js" type="text/javascript" ></script>
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/init.js" type="text/javascript" ></script>

  <link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/default.min.css' rel='stylesheet' type='text/css'/>
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/highlight.min.js" type="text/javascript"></script>
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/init.js" type="text/javascript"></script>
  -->
  <script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/item-footer.js" async="async" type="text/javascript"></script>
</b:if>

</body>
</html>
