.at-custom-sidebar-counter {
  z-index: auto;
}

@media (min-width: 460px) {
  .addthis-smartlayers-mobile {
    display: none !important;
  }
}

.addthis-smartlayers .at-custom-sidebar-counter {
  background-color: white;
  min-height: 31px;
  cursor: default;
}

@media (min-width: 460px) and (max-width: 979px) {
  /*
  .nav-collapse ul li {
      padding-left: 50px;
  }
  */
  /*
  .sumome-share-client-wrapper.sumome-share-client-wrapper-left-page {
    z-index: auto !important;
  }
  */
}
