#content-wrapper {
  padding-top: 80px;
  padding-left: 50px;
  
  margin-bottom: 0 !important;

}

#content > .ad {
  margin-bottom: 30px;
  background-color: white;

  // iframe {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  [id^="google_ads_iframe"] {
    text-align: center;
  }
} 

// -------------------------------------------------

@media (max-width: 979px) {

  #content-wrapper {
    padding-top: 80px;
    
    #primary {
      padding-left: 0;
    }
  }
}

// -------------------------------------------------

@media (max-width: 480px) {
  #content-wrapper {
    padding-top: 50px !important;
    padding-left: 0;
    
    #primary {
      padding-left:0px !important;
      padding-right:0px !important; 
    }
  }
  
  /*
  .sumome-stylebufferbottom-shim {
    height: 50px;
  }
  */
}