#header-inner.header-inner-not-mobile {
  background-repeat: no-repeat;
}

#header-inner:not(.no-header-image) .titlewrapper {
  background: transparent
}

#header-inner:not(.no-header-image) .titlewrapper .title {
  background: transparent; 
  border-width: 0px
}

#header-inner-link,
#header-inner-link > a {
  display: block;
}