#main .widget.Blog {
  .post .index-post-body {
    .index-labels {
      display: none;  
    }

    .entry-image {
      // max-height: 430px;
      max-height: 800px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //width: calc(100% + 10px);
      width: 100%;
      //height: 430px;
      display: block;
      
      .thumb {
        visibility: hidden;
      }
    }

    .entry-image.no-image {
      background-image: url(//lh4.googleusercontent.com/-G9M2DTCTUwM/Tlh-2pwtc5I/AAAAAAAABKM/kCJg-Kf3W2M/no_image_yet.jpg);
      background-position: center center;
      background-repeat: no-repeat;
    }

    .entry-content {
      //padding-bottom: 1px;
      padding-bottom: 1rem;
      padding-top: 1rem;


      .avatar-name {
        color: #fff;
        font-size: 18px;
        margin-left: 126px;
        margin-bottom: -48px;
        padding-top: 17px;
        display:none;
      }


      .post-avatar:hover {
        border-radius: 50%;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      p {
        /*text-indent: 0;*/
        margin: 0;
        text-align: justify;

        img {
          display: none !important;
        }
      }

      .foundation {
        /*
        margin-bottom: 130px;
        margin-top: -103px;
        */
        margin-bottom: 1rem;
        text-align: justify;
      }
      
      h1.entry-title {
        text-align: justify;
      }

      h1.entry-title a {
        text-decoration: none;
      }

      a {
        text-decoration: underline;
        color: #BD8242;
      }

      a:hover {
        color: #F69087;
      }

      .meta {
        /*margin-top: 63px;*/
        /*position: absolute;*/
        /*margin-left: 126px;*/
        line-height: 100%;

        p > small > span {
          margin-right: 10px;
        }
        .label-info a,
        p > small > span a{
          text-decoration: none;
          color: #333;
          margin-right: 0.5rem;
          white-space: nowrap;
        }
        .comment-number {
          white-space: nowrap;
        }
      }
    } 

    .entry-content > a:last-of-type {
      display: none;
    }

  }


  // 這是指最下面那一列
  .post .entry-meta {
    .buttons a {
      cursor: pointer;
      display: block;
      float: left;
      border-radius: 3px;
      font-size: 13px;
      padding: 7px 20px;
      background: #333;
      color: #fff;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      border: 1px solid #1D1D1D;
      margin-top: 13px;
      margin-bottom: 12px;
      margin-left: 1em;
    } 
    .buttons a:hover {
      color: #F69087;
    } 


    .read-more {
      display: block;
      float: left;
      border-radius: 3px;
      font-size: 13px;
      padding: 7px 20px;
      background: #333;
      color: #fff;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      border: 1px solid #1D1D1D;
      margin-top: 13px;
      margin-bottom: 12px;
    }
  } 

}

// ------------------------------------------

@media (max-width: 1200px) {
  #main .widget.Blog .post .index-post-body {
    .entry-image {
      //height: 320px;
    }
  }
}


@media (max-width: 979px) {
  #main .widget.Blog .post .index-post-body {
    .entry-image {
      //height: 420px;
    }
  }
}

// ------------------------------------------

@media (max-width: 767px) {
  #main .widget.Blog .post {
    .index-post-body .entry-image {
      //height: 320px;
    }
    
    .entry-meta .buttons {
      margin-bottom: 15px;
    }
  }
}

/********************/
@media (max-width: 480px) {
  #main .widget.Blog .post .index-post-body  {
    /*********************/
    /* 20160926 修正小視窗底下按鈕沒有置中的問題 */
    .entry-meta.clearfix > aside > .pull-left {
      float: none;
      text-align: center;
      width: 100%;
    }

    .entry-meta.clearfix > aside > .pull-left > .read-more,
    .entry-meta.clearfix > aside > .pull-left > span.item-control.blog-admin a {
      float: none;
      width: 42%;
      display: inline-block;
    }

    .entry-meta.clearfix > aside > .pull-left > span.item-control.blog-admin a {
      margin-left: 0;
    }
    
    .entry-image {
      //height: 240px;
    }
  }

  /***********************/

  #main .share-story {
    display: none;
  }

  #main .post h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }


  #main .post .entry-content p {
    font-size: 1rem;
  }

  #main .read-more {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #main .entry-meta .pull-left {
    width: calc(100% - 80px);
    margin: 20px;
    margin-top: 0;
  }

  #main .post > .entry-meta.clearfix > aside > .pull-left > .item-control.blog-admin a {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }

  #main .entry-meta {
    border-top-width: 0;
    padding-top: 0;
    padding: 0;
  }

  #main .entry-content > p {
    text-indent: 1em;
  }
  
  #main .widget.Blog .post .entry-meta .buttons a {
    margin: 0;
  }
} // @media (max-width: 480px) {

// ------------------------------
// 以下還沒整理


