#main .widget.Blog {
  .entry-content h1.entry-title a {
    text-decoration: none;
  }
  
  .entry-content a {
    text-decoration: underline;
    color: #BD8242;
  }
  .entry-content a:hover {
    color: #F69087;
  }
  
  .entry-meta .buttons a {
    cursor: pointer;
    display: block;
    float: left;
    border-radius: 3px;
    font-size: 13px;
    padding: 7px 20px;
    background: #333;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid #1D1D1D;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: 1em;
  } 

  .entry-meta .buttons a:hover {
    color: #F69087;
  } 
  
}


/********************/
@media (max-width: 480px) {
  #main .widget.Blog {
    /*********************/
    /* 20160926 修正小視窗底下按鈕沒有置中的問題 */
    .entry-meta.clearfix > aside > .pull-left {
      float: none;
      text-align: center;
      width: 100%;
    }

    .entry-meta.clearfix > aside > .pull-left > .read-more,
    .entry-meta.clearfix > aside > .pull-left > span.item-control.blog-admin a {
      float: none;
      width: 42%;
      display: inline-block;
    }

    .entry-meta.clearfix > aside > .pull-left > span.item-control.blog-admin a {
      margin-left: 0;
    }
  }

  /***********************/

  #main .share-story {
    display: none;
  }

  #main .post h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }


  #main .post .entry-content p {
    font-size: 1rem;
  }

  #main .read-more {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #main .entry-meta .pull-left {
    width: 100%;
  }

  #main .post > .entry-meta.clearfix > aside > .pull-left > .item-control.blog-admin a {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }

  #main .entry-meta {
    border-top-width: 0;
    padding-top: 0;
  }

  #main .entry-content > p {
    text-indent: 1em;
  }
}
