.avatar-image-container {
  background-image: url(//lh3.googleusercontent.com/-tkBPlsBsFJg/V0M0b-gPKNI/AAAAAAACw9Y/Y-2BGg4z3H4/Image.jpg?imgmax=50);
  background-repeat: no-repeat;
  border-width: 0;
  height: 54px;
  width: 54px;
  border-right-width: 0px; 
  border-top-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px;
  margin-left: 0.5rem;
}