<!-- MediaFem Tag (body) -->
<!-- /25379366/22702671183 -->

<div class="ad">

<!-- MediaFem Tag (body) -->
<!-- /25379366/22705973189 -->

<!-- End MediaFem Tag (body) -->

</div>

<!-- End MediaFem Tag (body) -->

<!--
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1866747503935842"
  crossorigin="anonymous"></script>
<ins class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-layout="in-article"
  data-ad-format="fluid"
  data-ad-client="ca-pub-1866747503935842"
  data-ad-slot="8764660694"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->