<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/dist/global-footer.js" type="text/javascript"></script>

<!--
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/related-posts/related-posts.js" type="text/javascript"></script>

<link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/css/lightbox.min.css' rel='stylesheet' type='text/css'/>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/js/lightbox.min.js" type="text/javascript" ></script>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/lightbox2-lokeshdhakar/init.js" type="text/javascript" ></script>

<link href='//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/default.min.css' rel='stylesheet' type='text/css'/>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/highlight.min.js" type="text/javascript"></script>
<script src="//pulipulichen.github.io/Pulipuli-Blog/lib-for-link/item/src/modules/highlight/init.js" type="text/javascript"></script>
-->