.site-footer#colophon {
  z-index: 0;
  
  #footer {
    line-height: 30px;
    padding: 10px 0 0px 0;
    background-color: #1a1a1a;

    p {
      font-size: 13px;
      float: left;
      line-height: 30px
    }
    
    p.copyright {
      line-height: 1rem;
    }

    a {
      color: #F57676;
    }
    
    .management  {
      //display: none;
      line-height: 1rem;
    }
  }
  
  .container {  
    padding-top:0 !important;
    padding-left: 50px;
    padding-bottom: 0;
  }
} 

@media (max-width: 979px) {
  .site-footer#colophon {
    .container {  
      margin-left: 30px;
      padding-left: 20px;
    }
  }
}