/*
#comments { 
  display:none; 
}
*/

.post-comment-link { 
  visibility: hidden; 
}

/*
#disqus_thread {
  overflow: hidden;
  background: #FFFFFF;
  border-bottom: 2px solid #DDDDDD;
  //padding: 25px;
  
  padding: 15px 30px;
  padding-bottom: 0;
}
*/