<!-- MediaFem Tag (body) -->
<!-- /25379366/22709187156 -->
<div class="ad">
  <script>
    // 20230621-2336 可能會有問題，暫時拿掉
    // googletag.pubads().definePassback('/25379366/22709187156',  [728, 90] ).display();
  </script>
</div>
<!-- End MediaFem Tag (body) -->

<!-- MediaFem Tag (body) -->
<!-- /25379366/22705973189 -->
<!--
<script src='https://www.googletagservices.com/tag/js/gpt.js'>
  googletag.pubads().definePassback('/25379366/22705973189',  [970, 90] ).display();
</script>
-->
<!-- End MediaFem Tag (body) -->