<!--
<div class="ad before-comment">

</div>
-->

<b:if cond='data:blog.pageType == &quot;item&quot;'>
  <div class="widget-AdSense-container">
  <div class='widget AdSense' data-version='1' id='AdSense3'>
      <div class='widget-content'>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1866747503935842&host=ca-host-pub-1556223355139109" crossorigin="anonymous"></script>
      <!-- pulipuli_sidebar-right-1_AdSense1_1x1_as -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1866747503935842"
           data-ad-host="ca-host-pub-1556223355139109"
           data-ad-slot="6579174570"
           data-ad-format="horizontal"
           data-full-width-responsive="true"></ins>
      <div class='clear'></div>
      </div>
  </div>
</div>
</b:if>