<div class="ad">
  <!-- MediaFem Tag (body) -->
  <!-- /25379366/22708858424 -->
  <script>
    googletag.pubads().definePassback('/25379366/22708858424',  [728, 90] ).display();
  </script>


</div>
<!-- End MediaFem Tag (body) -->
<!--
<div class="ad">
  video
  <script src="https://cdn.jsdelivr.net/npm/vast-player@latest/dist/vast-player.min.js"></script>
  <script>
        (function(VASTPlayer) {
        'use strict';

        var player = new VASTPlayer(document.getElementById('container'));

        player.once('AdStopped', function() {
            console.log('Ad finished playback!');
        });

        player.load('https://pubads.g.doubleclick.net/gampad/live/ads?iu=/25379366/ca-video-pub-6966735019331824-tag/22709225322&amp;description_url=https%3A%2F%2Fblog.pulipuli.info&amp;env=vp&amp;impl=s&amp;correlator=&amp;tfcd=0&amp;npa=0&amp;gdfp_req=1&amp;output=vast&amp;sz=640x480&amp;unviewed_position_start=1')
        .then(function startAd() {
            return player.startAd();
        }).catch(function(reason) {
            setTimeout(function() { throw reason; }, 0);
        });
    }(window.VASTPlayer));
  </script>
</div>
-->
<!-- End MediaFem Tag (body) -->