<div class="comment-form-tool">
  留言工具:
  <a href="//imgur.com/upload" target="_blank" class="imgur-btn">
    <button type="button">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      上傳圖片
    </button>
  </a>
  <a href="//streamable.com" target="_blank" class="streamable-btn">
    <button type="button">
      <i class="fa fa-film" aria-hidden="true"></i>
      上傳影片
    </button>
  </a>
  <a href="//file.town" target="_blank" class="file-town-btn">
    <button type="button">
      <i class="fa fa-upload" aria-hidden="true"></i>
      上傳檔案
    </button>
  </a>
  <a href="/2008/05/blog-post_09.html" target="_blank" class="code-convert">
    <button type="button">
      <i class="fa fa-code" aria-hidden="true"></i>
      程式碼轉換
    </button>
  </a>
  <!--
  <a href="/feeds/501119240898359739/comments/full" 
     target="_blank" class="feed xml">
      <button type="button">
          <i class="fa fa-code" aria-hidden="true"></i>
          留言資料 (XML)
      </button>
  </a>
  -->
  <a expr:href='&quot;/feeds/&quot; + data:post.id + &quot;/comments/full&quot;' 
     target="_blank" class="feed xml">
    <button type="button">
      <i class="fa fa-code" aria-hidden="true"></i>
      留言資料 (XML)
    </button>
  </a>
  <a expr:href='&quot;/feeds/&quot; + data:post.id + &quot;/comments/full?alt=json&quot;' 
     target="_blank" class="feed json">
    <button type="button">
      <i class="fa fa-code" aria-hidden="true"></i>
      留言資料 (JSON)
    </button>
  </a>
</div>