<ul class='share-story about'>
    <li>
        <a href="/p/about_38.html">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            關於布丁
        </a>
    </li>
    <li>
        <a href="/p/sitemap.html#subscribe">
            <i class="fa fa-rss-square" aria-hidden="true"></i>
            訂閱BLOG
        </a>
    </li>
    <li>
        <a href="/p/donation.html">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            贊助
        </a>
    </li>
</ul>