<ul class='share-story'>
    
    <li class="view-count"><a class='tips social-button view-count' data-title='觀看數'
        title="View count"
        href='#'>
        <i class="fa fa-bar-chart"></i>
        <span class="view-count"
            expr:post-url="data:post.url"></span>
        <span class="view-time">
            最近<span class="hour"></span>小時內有人閱讀這篇文章
        </span>
    </a></li>

    <li><a class='tips social-button facebook' data-title='分享到Facebook' target='_blank'
        title="Share to Facebook"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_facebook&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;https://www.facebook.com/sharer/sharer.php?u=&quot; + data:post.url'>
        <i class="fa fa-facebook"></i>
    </a></li>
    <li class="line"><a class='tips social-button line' data-title='分享到LINE' target='_blank'
        title="Share to LINE"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_line&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;line://msg/text/&quot; + data:post.url'>
        <strong>L</strong>
    </a></li>
    <li><a class='tips social-button plurk' data-title='分享到Plurk' target='_blank'
        title="Share to Plurk"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_plurk&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;http://www.plurk.com/m?qualifier=shares&amp;content=&quot; + data:post.url'>
        <strong>P</strong>
    </a></li>
    <!--
    <li><a class='tips social-button twitter' data-title='Twitter' target='_blank'
        expr:href='&quot;//www.addthis.com/bookmark.php?v=300&amp;winname=addthis&amp;pub=pulipuli&amp;s=twitter&amp;source=msd-1.0&amp;url=&quot; + data:post.url + &quot;&amp;title=&quot; + data:post.title + &quot;&amp;ate=AT-pulipuli/-/per-13/-/4&amp;frommenu=1&amp;ips=1&amp;uud=1&amp;ct=1&amp;pre=http%3A%2F%2Fblog.pulipuli.info%2F&amp;tt=0&amp;captcha_provider=nucaptcha&amp;pro=1&quot;'>
        <i class="fa fa-twitter"></i>
    </a></li>
    -->
    <li><a class='tips social-button twitter' data-title='分享到Twitter' target='_blank'
        title="Share to Twitter"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_twitter&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;https://twitter.com/intent/tweet?url=&quot; + data:post.url'>
        <i class="fa fa-twitter"></i>
    </a></li>
    <li><a class='tips social-button linkedin' data-title='分享到LinkedIn' target='_blank'
        title="Share to LinkedIn"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_linkedin&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;https://www.linkedin.com/shareArticle?mini=true&amp;url=&quot; + data:post.url'>
        <i class="fa fa-linkedin"></i>
    </a></li>

    <li><a class='tips social-button pocket' data-title='儲存到Pocket' target='_blank'
        title="Save to Pocket"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_pocket&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;https://getpocket.com/edit?url=&quot; + data:post.url'>
        <i class="fa fa-get-pocket"></i>
    </a></li>
    
    <li><a class='tips social-button email' data-title='分享到Email' target='_blank'
        title="Share to E-Mail"
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_email&apos;, &apos;&quot; + data:post.url + &quot;&apos;)&quot;'
        expr:href='&quot;mailto:?subject=&quot; + data:post.title + &quot;&amp;bo&quot; + &quot;dy=&quot; + data:post.url'>
        <i class="fa fa-envelope"></i>
    </a></li>

    <li class="web-share-api"><a class='tips social-button web-share-api' data-title='分享到其他地方'
        title="Share..."
        expr:onclick='&quot;BLOG_STATISTIC.log(this, &apos;share_web_share_api&apos;, &apos;&quot; + data:post.url + &quot;&apos;, &apos;&quot; + data:post.title + &quot;&apos;)&quot;'
        href='#'>
        <i class="fa fa-share"></i>
        <span class="share-count"
            expr:post-url="data:post.url"></span>
    </a></li>
</ul>