<script>
// <![CDATA[
// --------------
// 20181226 FB粉專
$(function () {
    _load_fan_page()
});

var _load_fan_page = function () {
  $('.fb-fan-page').html(`
    <p>「布丁布丁吃什麼？」會定期在多種不同社群媒體上發佈文章。您可以選擇您常用的社群媒體來追蹤「布丁布丁吃什麼？」。</p>
    <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpulipuli.blogspot&t' + 'abs=timeline&width=350&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=391880581194257" width="350" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <div>
<a class="btn btn-block btn-social btn-facebook btn-lg" href="http://fb.blog.pulipuli.info/" target="_blank">
<span class="fa fa-facebook"></span> Facebook 粉絲頁</a>

<a class="btn btn-block btn-social btn-pinterest btn-lg" href="http://plurk.pulipuli.info/" target="_blank">
<span class="icon">P</span> Plurk (自動轉發暫時失效)</a>

<a class="btn btn-block btn-social btn-google btn-lg" href="http://plus.blog.pulipuli.info/" target="_blank">
<span class="fa fa-google-plus"></span> Google+</a>

<a class="btn btn-block btn-social btn-linkedin btn-lg" href="http://li.pulipuli.info/" target="_blank">
<span class="fa fa-linkedin"></span> LinkedIn</a>

<a class="btn btn-block btn-social btn-twitter btn-lg" href="http://twitter.pulipuli.info/" target="_blank">
<span class="fa fa-twitter"></span> Twitter</a>

<a class="btn btn-block btn-social btn-tumblr btn-lg" href="http://tumblr.pulipuli.info/" target="_blank">
<span class="fa fa-tumblr"></span> Tumblr</a>

<a class="btn btn-block btn-social btn-soundcloud btn-lg" href="http://weibo.com/pulipulichen" target="_blank">
<span class="fa fa-weibo"></span> 微博</a>
    </div>
`);
}
// ]]>
</script>