// ----------------------------------------
// 以下尚未整理

#sidebar .widget.about-me .description .avatar-image-container {
  background-image: url(//lh3.googleusercontent.com/-tkBPlsBsFJg/V0M0b-gPKNI/AAAAAAACw9Y/Y-2BGg4z3H4/Image.jpg?imgmax=50);
  background-repeat: no-repeat;
  border-width: 0;
  height: 54px;
  width: 54px;
  border-right-width: 0px; 
  border-top-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px;
  margin-left: 0.5rem;
  display: block;
  float: right;
}

#sidebar .widget.about-me .link-buttons {
  white-space: nowrap;
}

#sidebar .widget a h2 {
  cursor: inherit;
}

#sidebar .widget h2 {
  cursor: default;
}


.sidebar h2 > span {
  position: relative;
  bottom: -2px;
  display: inline-block;
  border-bottom: 2px solid #e23a3e;
  padding-bottom: 5px;
  margin-top: 0px;
}


/****************************************/
/* 20160625 隨機文章 */

.sidebar .widget-content li a {
  font-size: inherit;
  color: inherit;
}


#sidebar > .widget > a.icon {
  cursor: pointer;
}

/*****************************************/
/* 20160626 小畫面下面about me按鈕錯誤 */
@media (max-width: 1200px) and (min-width: 979px) {
  #sidebar .about-link .read-more {
    padding: 5px;
    margin-top: 2px;
  }
}   /* @media (max-width: 1200px) and (min-width: 979px) { */
