#masthead.fixed-nav {
  
  #header #header-inner {
    @media (max-width: 979px) {
      margin-top: 0;
    }
  }

  .search-bar .nav-search form.gcse-placeholder {
    @media (max-width: 979px) {
      margin-top: 10px;
    }
  }

  .btn-navbar {
    @media (max-width: 979px) {
      // margin: 18px 15px 18px 0;
      line-height: 55px;
    }
  }
}