// -------------------------------------
// global

#masthead #menu-primary {
  
  a {
    color: white;
  }

  ul > li > a {
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  
  li.home {
    width: 6rem;
    white-space: nowrap;
    text-align: right;
    
    a.accesskey-menu {
      padding-right: 0px;
    }
    
    a[href]:last-of-type {
      min-width: 5rem;
      padding-left: 0;
    }
  }
  
  li.dropdown {
    cursor: pointer;
    
    .dropdown-toggle {
      user-select: none;

      i {
        font-size: 20px;
      }
    }
    
    // 20191001 強制複寫原本的功能
    &> .dropdown-menu {
      li a:hover, 
      li a:active, 
      li a:focus {
        border-left: 3px solid #85CCB1;
        padding-left:12px;
      }
    }
    
    /*
    &> .dropdown-menu {
      display: none;
      opacity: 0;
      transition: all 1s -.3s;
    }
    &:hover> .dropdown-menu {
      display: block;
      opacity: 0.5;
    }
    */
  }
  
  li.help {
    a {
      padding-left: 0;
      padding-right: 0;
    }
    .icon {
      /*
      background-color: #FFF;
      display: inline-block;
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 11px;
      -o-transition: all .20s linear;
      -webkit-transition: all .20s linear;
      -moz-transition: all .20s linear;
      transition:  all .20s linear;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      */
      font-size: 20px;
      line-height: 27px;
    }
    .title {
      display: none;
    }
  }

  li.search {
    display: none;
    
    a {
      padding: 12px 15px;
    }
  }
  
  .dropdown-menu {
    //z-index: -1;
    
    //transition: opacity 0.2s 1s ease;
    /*display: block;*/
    
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
        
    li > a {
      padding: 12px 15px;
    }
    
  }
} 

// --------------------------
// global fixed-nav

@media screen {
  #masthead.fixed-nav #menu-primary {
    li > a {
      /* padding: 6px 20px 10px; */
      line-height: 56px;
      padding-top: 0;
      padding-bottom: 0;
      //padding-right: 10px;
      //padding-left: 10px;
    }

    li.home {
      width: 6rem;

      a.accesskey-menu {
        padding-right: 5px;
        padding-top: 0;
        line-height: 54px;
      }
    }

    li.help .icon {
      line-height: 29px;
    }

    .dropdown-menu {
      /*display: block;*/
      position: fixed;
      top: 54px;
      left: calc(100vw - ((100vw - 1170px) / 2 + 10px) - 367px);
      // 1170 / 2 = 600-15 = 585
      li > a {
        padding: 12px 15px;
        line-height: 20px;
      }
    }
  }
}

/* ****************************************** */
/* @media (min-width: 1200px) { */

@media (min-width: 1200px) {
  #masthead #menu-primary {
    .dropdown-menu {
      //margin-top: 2px;
      margin-left: 5px;
      
      border-top-width: 0;
      
      // 略過 search
      & > li:nth-of-type(2) {
        margin-top: 2px;
        border-top: 2px solid #f69087;
      }
    }
  }
  
  @media screen {
    #masthead.fixed-nav #menu-primary {
      .dropdown-menu {
        margin-left: 0;
      }
    }
  }
    
}


@media (min-width: 979px) {
  #masthead .navbar-inner {
    padding-top: 5px;
    padding-bottom: 0;
  }
  
  #masthead #menu-primary {
    .dropdown-menu {
      border-top-width: 0;
      
      // 略過 search
      & > li:nth-of-type(2) {
        margin-top: 2px;
        border-top: 2px solid #f69087;
      }
    }
  }
}

/* ****************************************** */
/* @media (max-width: 1200px) { */

@media (max-width: 1200px) {
  #masthead #menu-primary {
    li.home {
      width: 6rem;
    }
    
    .dropdown-menu {
      /*display: block;*/
      margin-left: -5px;
    }
    
    li > a {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    li.home a.accesskey-menu {
      padding-right: 0;
    }
  }
  
  @media screen {
    #masthead.fixed-nav #menu-primary {
      .dropdown-menu {
        /*display: block;*/
        left: calc(100vw - ((100vw - 960px) / 2 + 10px) - 277px);
        margin-left: 0;
      }
    }
  }
    
}

/*
@media (min-width: 979px) and (max-width: 1200px) {
  #masthead .container {
    width: 960px;
  }
}
*/

/* ****************************************** */
/* @media (min-width: 979px) { */

@media (min-width: 979px) {

}

// ------------------------------------


/* ****************************************** */
/* @media (max-width: 979px) { */

@media (max-width: 979px) {
  #masthead {
    .nav-collapse {
      height: 0;

      #menu-primary {
        background-color: #2D2D2D;
        li.help .title {
          display: block;
        }
        li.help a {
          padding-left: 15px;
          padding-right: 15px;
        }
        li.help .icon {
          float:left;
          margin-right: 0.5em;
        }
        
        .dropdown-menu {
          border-top: 2px solid #F69087;
          position: fixed;
          z-index: -1;
          width: calc(100vw - 12px);
          /*margin-top: 10px;*/
          background-color: #2D2D2D;
          display: block;
          margin: 0;
          margin-left: -55px;
          padding-top: 8px;
          /*top: 56px;*/

          li a {
            //padding-left:18px !important;
            border-radius: 0;
          }

          li a:hover, 
          li a:active, 
          li a:focus {
            border-left: 3px solid #85CCB1;
            padding-left:12px;
          }

          li.active, 
          li:hover {
            background: none repeat scroll 0 0 rgba(255,255,255,0.02);
            color: #fff;
          }
        }
      }
      
      

      .nav > li:not(.dropdown) {
        display: none;
      }
      .nav > li.dropdown > a {
        display: none;
      }
    }

    // -------------------------------

    .nav-collapse.collapse {
      overflow: hidden;
      height: 0;

      .dropdown-menu {
        display: none !important;
      }
    }

    // ---------------

    .nav-collapse.in.collapse .dropdown .dropdown-toggle {
      display:none !important;
    }

    // --------------------------------

  }
  
  #masthead.fixed-nav.affix {
    .navbar .nav .dropdown-menu li {
      a {
        padding-left:22px !important;
      }
      a:hover, 
        a:active, 
        a:focus {
        padding-left:19px !important;
      }
    }
  }
  
  @media screen {
    #masthead.fixed-nav #menu-primary {
      .dropdown-menu {
        left: 0;
        top: 56px;
        margin-left: 0;
      }
    }
  }
    
}

@media (min-width: 480px) and (max-width: 979px) {
  #masthead .nav-collapse #menu-primary {
    li.dropdown .dropdown-menu {
      //width: calc(100vw - 17px);
      //width: 100vw;
      width: 100%;
      left: 55px;
      
      li > a {
        padding-left: 50px;
        
        &:focus,
        &:hover,
        &:active {
          padding-left: 47px;
        }
      }
      
      li.search .gcse-placeholder-dropdown {
        margin-left: 50px;
        width: calc(100% - 88px);
      }
    }
  }
  
  @media screen {
    #masthead.fixed-nav #menu-primary {
      li.dropdown .dropdown-menu {
        left: 0px;
      }
    }
  }
    
}

/*
@media (min-width: 680px) and (max-width: 979px) {
  #masthead {
    .dropdown-menu li {
      padding-left: 0;
    }
  }
}

@media (min-width: 480px) and (max-width: 680px) {
  #masthead .nav-collapse #menu-primary {
    .dropdown-menu {
      width: calc(100vw - 17px);
      left: 55px;
      li {
        padding-left: 0;
      }
      
      li.search .gcse-placeholder-dropdown {
        width: calc(100% - 20px);
      }
    }
  }
}
*/

// ------------------------------------
// @media (max-width: 767px) {

@media (max-width: 767px) {
  #masthead .nav-collapse {
    .dropdown-menu {
      margin-top: 0px;
    }
  }
}

/* ****************************************** */
/* @media (max-width: 680px) { */

@media (max-width: 680px) {
  #masthead .nav-collapse.collapse li.search {
    display: none;
  }
  
  #masthead .nav-collapse li.search {
    /*border-top: 2px solid #F69087;*/
    padding-top: 12px;
  }
  
  #masthead .nav-collapse .dropdown-menu {
    /*border-top-width: 0;*/
    clear: both;
    margin-top: 0;
  }
  
  #masthead .nav-collapse li.search .gcse-placeholder-dropdown {
    background-color: white;
    border-radius: 4px;
    margin-left: 15px;
    width: calc(100vw - 53px);
    line-height: 28px;
    padding-bottom: 3px;
  }
  
  #masthead .nav-collapse li.search .gcse-placeholder-dropdown input.gsc-input-placeholder {
    float: left;
    border-width: 0;
    outline: none;
    /*
    margin-left: 19px;
    margin-right: 25px;
    */
    // width: calc(100% - 40px);
    width: calc(100% - 65px);
    height: 23px;
  }
  
  #masthead .nav-collapse li.search .srch_btn-dropdown {
    color: gray;
    cursor: pointer;
    margin-top: 0px;
  }
  #masthead .nav-collapse li.search .srch_btn-dropdown:hover {
    color: #222222;
  }
  
  @media screen {
    #masthead.fixed-nav form.gcse-placeholder-dropdown {
      margin-top: 0;
    }
  }
    
}

/* ****************************************** */
/* @media (max-width: 480px) { */

@media (max-width: 480px) {
  #masthead {
    .titlewrapper {
      padding-left: 5px;
    }
  }
  
  #masthead nav {
    .nav-collapse {
      overflow: initial;

      #menu-primary {
        padding-top: 0;

        .dropdown-menu {
          position: static;
          //width: calc(100vw - 17px);
          width: 100vw;
          margin-left: -10px;
          left: -10px;
          top: 0;
        }
      }

    }

  }
}

/*
@media (max-width: 480px) and (max-height: 480px) {
  #masthead .nav-collapse .dropdown-menu {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 320px;
  }
}
*/


/****************************************/
// @media (max-width: 979px) and (max-height: 650px) {
/* 20160523 畫面太矮的時候 */

@media (max-height: 480px) {
  
  #masthead #menu-primary .dropdown-menu {
    max-height: calc(100vh - 80px);
    overflow-x: auto;
    width: 100%;
    margin: 0;
  }
  
  @media screen {
    #masthead.fixed-nav #menu-primary .dropdown-menu {
      display: none;
    }
  }
    
}

@media (max-width: 480px) and (max-height: 480px) {
  #masthead #menu-primary .dropdown-menu {
    max-height: calc(100vh - 106px);
  }
  
}

@media (max-height: 480px) and (min-width: 979px) {
  #masthead #menu-primary .dropdown-menu {
    width: 13rem;
  }
}
