#masthead #menu-primary a {
  color: white;
}
#masthead .dropdown-menu {
  z-index: -1;
}

#masthead #menu-primary ul > li > a {
  white-space: nowrap;
  overflow-x: hidden;
}

#masthead .navbar .nav li.search {
  display: none;
}


/* ****************************************** */
/* @media (min-width: 979px) { */

@media (min-width: 979px) {
  #masthead .dropdown-menu {
    margin-top: 2px;
  }
}

/* ****************************************** */
/* @media (max-width: 979px) { */

@media (max-width: 979px) {
  #masthead .nav-collapse #menu-primary,
  #masthead .nav-collapse .dropdown-menu {
    background-color: #2D2D2D;
  }
  
  #masthead .nav-collapse .dropdown-menu {
    border-top: 2px solid #F69087;
    position: fixed;
    z-index: -1;
    width: 100vw;
  }
  
  #masthead .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  
  #masthead .nav-collapse.collapse .dropdown-menu {
    display: none;
  }
  
  #masthead .nav-collapse {
    height: auto;
  }
  
  #masthead .nav-collapse .nav > li:not(.dropdown) {
    display: none;
  }
  
  #masthead .nav-collapse .nav > li.dropdown > a {
    display: none;
  }
  .nav-collapse.in.collapse .dropdown .dropdown-toggle {
    display:none;
  }

  .nav-collapse .dropdown-menu {
    display: block;
    margin: 0;
  }

  .navbar .nav .dropdown-menu li a {
    padding-left:18px !important;
    border-radius: 0;
  }

  .navbar .nav .dropdown-menu li a:hover, 
  .navbar .nav .dropdown-menu li a:active, 
  .navbar .nav .dropdown-menu li a:focus {
    border-left: 3px solid #85CCB1;
    padding-left:15px !important;
  }

  .navbar .nav .dropdown-menu li.active, .navbar .nav .dropdown-menu li:hover {
    background: none repeat scroll 0 0 rgba(255,255,255,0.02);
    color: #fff;
  }
}

/* ****************************************** */
/* @media (max-width: 680px) { */

@media (max-width: 680px) {
  #masthead .nav-collapse.collapse li.search {
    display: none;
  }
  
  #masthead .nav-collapse li.search {
    border-top: 2px solid #F69087;
    padding-top: 27px;
  }
  
  #masthead .nav-collapse .dropdown-menu {
    border-top-width: 0;
    clear: both;
    margin-top: 16px;
  }
  
  #masthead .nav-collapse li.search .gcse-placeholder-dropdown input.gsc-input-placeholder {
    margin-left: 19px;
    float: left;
    margin-right: 25px;
  }
  
  #masthead .nav-collapse li.search .srch_btn-dropdown {
    color: white;
    cursor: pointer;
    margin-top: 4px;
  }
}
  