
.gsc-results-wrapper-overlay {
  line-height: 1.5em;
}

.gsc-results-wrapper-overlay .gcsc-branding {
  display: none;
}

.gsc-results-wrapper-overlay .gsc-cursor-box {
  text-align: center;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page {
  padding: 7px 10px;
  border: 1px solid gray !important;
  border-radius: 5px;
  cursor: pointer !important;
  color: gray !important;
  text-decoration: none !important;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
  color: black !important;
}

.gsc-results-wrapper-overlay .gsc-wrapper {
  max-height: calc(100% - 120px);
  overflow-y: auto;
}

.gsc-results-wrapper-overlay .gsc-wrapper > .gsc-adBlock {
  display: none;
}

.gsc-results-wrapper-overlay .gsc-wrapper img.gs-image {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  border: 1px solid gray;
}

.gsc-results-wrapper-overlay .gsc-wrapper a.gs-image {
  width: 176px;
}

.gsc-results-wrapper-overlay .gs-image-box.gs-web-image-box {
  width: 176px !important;
  height: auto !important;
  max-height: 176px;
  /*margin-right: calc(1em + 7px);*/
  top: -3em;
  margin-bottom: -3em;
  position: relative;
}

.gsc-results-wrapper-overlay div.gs-title,
.gsc-results-wrapper-overlay div.gsc-url-top {
  margin-left: calc(176px + 1em);
}

.gsc-results-wrapper-overlay div.gs-snippet {
  margin-left: 19px;
}

.gsc-results-wrapper-overlay td.gsc-table-cell-thumbnail.gsc-thumbnail {
  width: 176px;
  display: block !important;
}